<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2">
    <div class="relative flex h-16 items-center justify-between">
            <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
          {% if private %}
            <div>
              <a href="/admin/pilets" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Pilets</a>
              <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logout</a>
            </div>
          {% else %}
            <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Login</a>
          {% endif %}
    </div>
  </div>
</nav>

